.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(-45deg);
    margin: 50px auto;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: red;
        border-radius: 50%;
    }

    &::before {
        top: -50px;
        left: 0;
    }

    &::after {
        left: 50px;
        top: 0;
    }

    &:hover {
        animation: pulse 1s infinite;
    }
}

@keyframes pulse {
    0% {
        transform: rotate(-45deg) scale(1);
    }

    50% {
        transform: rotate(-45deg) scale(1.2);
    }

    100% {
        transform: rotate(-45deg) scale(1);
    }
}