@use './variables.scss' as v;
@use './mixins' as *;

.auth {
    padding: 16px 0;
    color: v.$color-text-bl;

    &__container {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    & a {
        cursor: pointer;

        @include respond (laptop) {
            color: v.$color-secondary;
        }
    }
}