.header {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        min-height: 100px;
    }

    &__logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 50%;
        min-height: 100px;
    }

    &__logo {
        display: block;
        width: 100%;
        height: 100%;

        & .main-letter {
            fill: black;
            transition: 1s;
        }

        svg {
            width: 100%;
            max-width: 200px;
   



            &:hover .main-letter{
                fill: red;
            }
        }

    }

    &__actions {
        display: flex;
        gap: 16px;
    }
}