.like {
  display: flex;
  align-items: center;
  &__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    max-width: 50px;    

    &:hover {
      animation: pulse 0.7s infinite;     }
  }
}

@keyframes pulse {
  0% {
    transform: rotate(-1deg) scale(1);
  }
  50% {
    transform: rotate(1deg) scale(1.11);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
