@use './variables.scss' as v;
.like {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__warning{
    padding: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: v.$color-primary;
}
  &__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    max-width: 50px;
    min-width: 50px;
    position: relative;
    animation: pulse 0.7s infinite;
    // &:hover {
    //   animation: pulse 0.7s infinite;
    // }
  }
  &__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-text {
      display: none;
    }
  }
}

@keyframes pulse {
  0% {
    transform: rotate(-1deg) scale(1);
  }

  50% {
    transform: rotate(1deg) scale(1.11);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}