@use './variables.scss' as v;

.main {


    &__title {
        font-weight: 400;
        font-size: 14px;
    }

    &__container {
        background-color: v.$color-secondary;

    }

    &__block {
        padding: 16px 0;

        &>*:not(:last-child) {
            margin-bottom: 16px;
        }
    }

}