@use './mixins' as *;

.menu {
    &__container {
        position: relative;
    }

    &__button {
        width: 50px;
        height: 50px;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__button-container {
        margin: auto;
        transform-origin: 50% 50%;
        will-change: transform;

        &:hover {
            animation: spin 3.6s linear infinite;
        }

        @include respond(laptop) {
            display: none;
        }
    }

    &__button-close {
        position: absolute;
        top: 16px;
        right: 16px
    }
    &__list {
        position: fixed;
        z-index: 1000;
        width: 100vw;
        height: 0vh;
        top: 0;
        left: -16px;
        overflow: hidden;
        &.close {
            top: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        &.open {
            padding: 16px;
            min-width: 300px;
            height: 100vh;
            background-color: rgb(255, 255, 255, 0.5);
            top: 0;
            transition: all 0.3s ease-in-out;

            @include respond(laptop) {
                display: none;
            }
        }
    }

    &__lang-container {
        display: none;

        @include respond(laptop) {
            display: flex;
            gap: 16px;

        }
    }
}





@keyframes spin {
    from {
        transform: rotateX(10px) rotateZ(0deg);
    }

    50% {
        transform: rotateX(0deg) rotateZ(180deg);
    }

    to {
        transform: rotateX(10deg) rotateZ(360deg);
    }
}